<metaname="viewport" content="width=device-width,initial-scale=1">

@media ( max-width : 1023px ) {
	* {
		color: blue;
	}
}

@media ( max-width : 767px ) {
	* {
		color: red;
	}
}

* {
	font-family: 'Stylish', sans-serif;
	font-size: 20px;
}

a{
	text-decoration: none;
	color: gray;
}

a:hover{
	font-weight: bold;
	color: #A3C838;
}

.page {
	padding: 70px;
	padding-top: 20px;
}

.page-register {
	margin: 0 auto;
	padding-top: 20px;
	width: 750px;
}

.grid-container-4 {
	display: grid;
	grid-template-columns: 65% 35%;
	grid-template-rows: auto auto;
	grid-gap: 10px;
	padding: 10px;
}

.grid-container-2 {
	display: grid;
	grid-template-columns: 65% 35%;
	grid-gap: 10px;
	padding: 10px;
}

.hello {
	font-family: 'Jua', sans-serif;
	font-size: 40px;
}

.todolist {
	table-layout: auto;
	width: 100%;
}

.boxGray {
	border-color: #8F9493;
	color: #8F9493;
	text-align: center;
	font-size: 16px;
	border: 3px solid #8F9493;
	border-radius: 6px;
	width: 350px;
}

.inputBox {
	height: 40px;
}

.textBox {
	height: 400px;
	padding-top: 15px;
}

.selectBox {
	height: 40px;
	width: 100%;
}

.btn {
	background-color: white;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	font-size: 15px;
	cursor: pointer;
	border-radius: 6px;
	height: 50px;
}

.btnGray {
	color: #8F9493;
	border: 3px solid #8F9493;
}

.btnGray:hover {
	box-shadow: 0 12px 16px 0 rgba(0, 0, 0, 0.24), 0 17px 50px 0
		rgba(0, 0, 0, 0.19);
	background-color: #8F9493;
	color: white;
}

.btnGreen {
	color: #A3C838;
	border: 3px solid #A3C838;
}

.btnGreen:hover {
	box-shadow: 0 12px 16px 0 rgba(0, 0, 0, 0.24), 0 17px 50px 0
		rgba(0, 0, 0, 0.19);
	background-color: #A3C838;
	color: white;
}

.btnRed {
	color: #ff9999;
	border: 3px solid #ff9999;
}

.btnRed:hover {
	box-shadow: 0 12px 16px 0 rgba(0, 0, 0, 0.24), 0 17px 50px 0
		rgba(0, 0, 0, 0.19);
	background-color: #ff9999;
	color: white;
}